<!DOCTYPE html>
<html>
<body>
    <h1 class="h11">Welcome to LaufeyTube, Laufers!<br></h1>
    <p class="p1">.・。.・゜✭・.・✫・゜・。.<br><br>Let's enjoy the entertainment that Laufey serves to us. </p>
    <div class="container"><br>
        <h1 class="h12">Who's Laufey?</h1><br>
        <img class="laufey1" src="./assets/laufey1.jpg"><br><br>
        <p class="p2">✦ Her birth name is Laufey Lín Jónsdóttir.<br>
            ★ Laufey was born in Reykjavík, Iceland.<br>
            ✦ She studied in Berklee College of Music.<br>
            ★ Debuted on October 14, 2022, with her album “Everything I Know About Love.“<br>
            ✦ She speaks Icelandic, Mandarin, and English.</p>
    </div>
</body>
</html>